<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85982182663-g7gq364mr7did6tmjc5a60jae4tcmgbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85982182663-g7gq364mr7did6tmjc5a60jae4tcmgbm</string>
	<key>API_KEY</key>
	<string>AIzaSyAoODHjENtAuIsmC4kSpIkboh9c3MDxFfc</string>
	<key>GCM_SENDER_ID</key>
	<string>85982182663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShKang.BusBooking</string>
	<key>PROJECT_ID</key>
	<string>busbooking-c70a0</string>
	<key>STORAGE_BUCKET</key>
	<string>busbooking-c70a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85982182663:ios:2138573c7493986b0699a2</string>
	<key>DATABASE_URL</key>
	<string>https://busbooking-c70a0.firebaseio.com</string>
</dict>
</plist>